@import '../../styles/variables';

.datepicker {
  display: flex;
  position: relative;
  min-width: 0;
  width: 100%;

  :global(.MuiPickersDateRangePickerInput-rangeInputsContainer) {
    & > :last-child * {
      border-left: none;
    }
  }

  label {
    transform: translate(14px, 16px) scale(1);
  }

  input {
    max-width: 100px;
  }
}

.control {
  :global(div.MuiFilledInput-root) {
    border-radius: 0;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }
  }
}
