$gap: 10px;

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu {
  flex: 0 1 300px;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  position: relative;
  padding: 10px;
}

.logo {
  padding: 24px;

  img {
    max-width: 100%;
    max-height: 80px;
  }
}

.navigation {
  flex: 1;
  padding: 24px;
  overflow: auto;
}
