@import '../../../styles/variables';

.grid {
  display: grid;
  grid-template:
    'head' auto
    'content' 1fr
    'pagination' auto
    / auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  background: white;
  border-radius: 4px 4px 0 0;
  height: 100%;
  flex: 1;
}

.head {
  background: white;
  display: grid;
  padding: $gap;
  grid-template-columns: 1fr auto auto;
  grid-auto-flow: column;
  border-radius: $radius $radius 0 0;
}

.title {
  min-width: 120px;
  align-items: flex-start;
  display: flex;
  padding-left: $gap;
}

.buttons {
}

.filters {
}

.content {
  grid-area: content;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.pagination {
  grid-area: pagination;
}
