.list {
}

.field {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.label {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666666;
  font-weight: bold;
}

.value {
  min-height: 1em;
}
