@import './src/application/modules/pages/CrudlEntity/styles/variables';

.breadcrumbs {
  padding: $gap;
  display: flex;
}

.crumb {
  margin: 0 5px;
  color: #666666;
}

.entity {
  font-weight: bold;
}

.current {
  color: #666666;
}
