@import 'src/application/modules/pages/Feature/styles/variables';

.filter {
  background: white;
  display: flex;
  flex-direction: row;
  min-width: 200px;
}

.close {
  flex: 0 0 $filter_input_height;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
  cursor: pointer;
  width: $filter_input_height;
  background: #fefefe;
  box-shadow: #eeeeee 0 0 0 1px;
  border-radius: 0 4px 4px 0;

  &:hover {
    opacity: 1;
  }

  svg {
    fill: $danger;
  }
}

.input {
  flex: 1;
}
