@import 'src/application/modules/pages/Feature/styles/variables';

.input {
  height: $filter_input_height;
  background: white;
  display: flex;

  input {
    padding: 10px 14px 7px;
    height: $filter_input_height - 17px;
  }

  :global(.MuiFormControl-root) {
    height: $filter_input_height;
  }

  label {
    transform: translate(14px, 21px) scale(1);
  }
}
