@import 'src/application/modules/pages/Feature/styles/variables';

.breadcrumbs {
  padding: $gap * 2 $gap $gap / 2;
  display: flex;
}

.crumb {
  margin: 0 5px;
  color: #666666;
}

.entity {
  font-weight: bold;
}

.current {
  color: #666666;
}
