.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.left {
  flex: 0 0 33vw;
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 64px;
}

.image {
  flex: 1;
  background: #f3f3f3 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  &::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.7;
  }
}

.logo {
  user-select: none;
  display: flex;
  padding-top: 18px;
  width: 100%;
  align-items: center;
  justify-content: center;

  img {
    max-height: 120px;
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
