@import 'src/application/modules/pages/Feature/styles/variables.scss';

.container {
  max-height: 100%;
}

.table {
  background: white;
  box-shadow: #e0e0e0 0 0 0 1px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 2px;

  th {
    font-weight: bold;
    text-transform: uppercase;
    background: #f9f9f9;

    @include phone {
      padding: 8px;
    }
  }

  td {
    @include phone {
      padding: 8px;
    }
  }

  tr {
    cursor: pointer;
  }
}

.wrapper {
  flex: 1;
  background: green;
}
