@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.placeholder {
  background: #e0e0e0;
  height: 1em;
  display: inline-block;
  animation: pulse infinite alternate linear 0.5s;
  border-radius: 4px;
}
