@import './src/application/modules/pages/CrudlEntity/styles/variables';

.input {
  height: $filter_input_height;
  background: white;
  display: flex;

  input {
    padding: 10px 14px 7px;
    height: $filter_input_height - 17px;
  }

  :global(.MuiFormControl-root) {
    height: $filter_input_height;
  }

  label {
    transform: translate(14px, 16px) scale(1);
  }
}

.close {
  flex: 0 0 $filter_input_height;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dddddd;
  border-left: none;
  cursor: pointer;

  svg {
    fill: $danger;
  }
}
